*{
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
}
body{
    color: aliceblue;
    background-color: black;
}

header{
    .menu{
        box-shadow: 21px -8px 79px 25px rgba(163, 177, 198, 0.5), -2px 19px 59px rgba(124, 124, 124, 0.6);
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        align-items: center;
        padding: 10px 20px;
        p{
            font-size: 2rem;
            font-weight: 300;
            cursor: pointer;
        }
        figure{
            width: 50px;
            height: 50px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.filtros{
    font-size: 1.3rem;
    position: fixed;
    transition: left .5s linear;
    display: grid;
    gap: 35px;
    max-width: 220px;
    padding: 50px 30px;
    box-shadow: 10px -8px 20px 10px rgba(163, 177, 198, 0.5);
    left: 0;
    
    figure{
        display: flex;
        justify-content: center;
        
    }
    .filtros__consola{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        
        h3{
            font-size: 1.3rem;
        }
        a{
            text-decoration: none;
            color: inherit;
        }
    }
    .filtros__menu{
        
        h3{
            font-size: 1.3rem;
        }
        div{
            overflow: hidden;
        }
        div>div{
            display: flex;
            padding: 20px 0;
            justify-content: space-between;
            cursor: pointer;
            .flecha{
                transform: rotate(90deg);
                
            }
        }
        div>ul{
            padding-left: 3rem;
            list-style-type: none;
            transition: height .2s linear;
            display: flex;
            gap: .5rem;
            flex-direction: column;
            height: 0;
        }
        
        
    }
}
.ocultar{
    left: -400px;
    transition: left 0.5s linear ;
}

@media screen and (max-width:800px){
    header{
        .menu{
            p{
                
            }
        }
    }

    
}